<div class="flex-container">
    <div class="container-left">
        <table>
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Description</th>
                    <th>Brand</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <!-- Uncomment if needed
                    <th>Availability</th>
                    <th>Free Shipping</th>
                    -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products; index as i">
                    <td>{{ product.productId }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.brand }}</td>
                    <td>{{ product.qty }}</td>
                    <td>{{ product.price }}</td>
                    <!-- Uncomment if needed
                    <td>{{ product.isAvailable }}</td>
                    <td>{{ product.freeshipping }}</td>
                    -->
                </tr>
            </tbody>
        </table>
        
    </div> 
