<div class="container mt-5">
    <h2 class="text-center">Product Information</h2>
    
    <div class="flex-container">
        <div class="container-left">
            <div class="table-responsive">
                <table class="table table-bordered table-hover mt-4">
                    <thead class="table-light">
                        <tr>
                            <th>Product ID</th>
                            <th>Description</th>
                            <th>Brand</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products; index as i">
                            <td>{{ product.productId }}</td>
                            <td>{{ product.description }}</td>
                            <td>{{ product.brand }}</td>
                            <td>{{ product.qty }}</td>
                            <td>{{ product.price | currency }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
